*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.05em;
}
h1{
    font-size: 5em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.4em;
}

.Headings{
    text-align: center;
    margin-bottom: 8%;
}
.Speedrunning{
    font-family: 'Nunito Sans', sans-serif;
    transition: 700ms ease;
    font-variation-settings: 'wght' 400;
}
.Speedrunning:hover{
    font-variation-settings: 'wght' 700;
}
body {
    height: 100%;
    background-color: rgb(190, 228, 245);
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.Sandwhich{
    position: fixed;
    border-right: black 2px solid;
    background-color: rgb(215, 239, 250);
    padding: 1%;
    height: 100%;
    width: 11%;
    top: 0;
    left: 0;
    overflow: auto;
}
.SandwhichElements{
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2px;
    padding: 1px;
    overflow: hidden;
}
.SandwhichElements:hover{
    background-color: rgb(202, 202, 202);
    border-style: ridge;
    text-decoration: underline;
}
.SandwhichElements a{
    text-decoration: none;
}
.NonSandwhich{
    position:absolute;
    left: 12%;
    right: 1%;
}
.PageLinks a{
    text-decoration: none;
    font-style: italic;
    margin-bottom: 3%;
}
.PageLinks a:hover{
    text-decoration: underline;
}
img{
    float: right;
    border: black solid 1px;
    margin-left: 2%;
    width: 40%;
    height: auto;
}