*{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.12vmin;
}
h1{
    font-size: 5vmin;
}
h2{
    font-size: 4vmin;
}
h3{
    font-size: 2.5vmin;
}
img{
    float: right;
    border: black solid 0.25vmin;
    border-radius: 3vmin;
    margin-left: 2%;
    width: 40%;
    height: auto;
}
body {
    height: 100%;
    background-color: white;
    color: #2c2a4a;
}
.Banner{
    position: fixed;
    width: max-content;
    text-align: center;
    top: 0;
    left: 0;
    border-bottom: #2c2a4a 0.5vmin solid;
    height: 14%;
    width: 100%;
    background-color: rgba(0, 109, 119, 1);
    z-index: 1;
    color: rgb(190, 228, 245);
}
.Headings{
    text-align: center;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.Sandwhich{
    position: fixed;
    border-right: #2c2a4a 0.25vmin solid;
    background-color: rgb(190, 228, 245);
    padding: 1%;
    height: 100%;
    width: 11%;
    top: 14%;
    left: 0;
    overflow: auto;
}
.SandwhichElements{
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2px;
    padding: 1px;
    overflow: hidden;
    color: #2c2a4a;
}
.SandwhichElements:hover{
    background-color: rgb(161, 161, 161);
    border-style: ridge;
    text-decoration: underline;
}
.SandwhichElements a{
    text-decoration: none;
    color: #2c2a4a;
}
.NonSandwhich{
    position:absolute;
    left: 12%;
    right: 12%;
    top: 14%;
}
.PageLinks a{
    text-decoration: none;
    font-style: italic;
    margin-bottom: 3%;
}
.PageLinks a:hover{
    text-decoration: underline;
}
@keyframes tooltipHover {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translate(0, 10%);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes tooltipHoverOut {
    from {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        visibility: hidden;
        opacity: 0;
        transform: translate(0, 10%);
    }
}
.tooltipMaster{
    display: inline-block;
    position: relative;
    font-weight: 900;
    color: #DB3069;
}
.tooltipMaster .tooltip{
    visibility: hidden;
    text-align: center;
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    width: 500%;
    height: auto;
    background-color: rgb(40, 40, 40);
    border-radius: 3vmin;
    border-bottom-left-radius: 0%;
    padding: 10%;
    color: white;
    animation-name: tooltipHoverOut;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
.tooltipMaster .tooltip::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 0%;
    border-width: 1vmin;
    border-style: solid;
    border-color: rgb(40, 40, 40) transparent transparent transparent;
}
.tooltipMaster:hover .tooltip{
    animation-name: tooltipHover;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
.tooltipMaster .tooltipRight{
    visibility: hidden;
    text-align: center;
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 100%;
    right: 50%;
    width: 500%;
    height: auto;
    background-color: rgb(40, 40, 40);
    border-radius: 3vmin;
    border-bottom-right-radius: 0%;
    padding: 10%;
    color: white;
    animation-name: tooltipHoverOut;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
.tooltipMaster .tooltipRight::after{
    content: " ";
    position: absolute;
    top: 100%;
    right: 0%;
    border-width: 1vmin;
    border-style: solid;
    border-color: rgb(40, 40, 40) transparent transparent transparent;
}
.tooltipMaster:hover .tooltipRight{
    animation-name: tooltipHover;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
.tooltip, .tooltipRight img{
    border-radius: 1vmin;
}
.ImgReferenceContainer{
    position: relative;
    float: right;
    width: 40%;
    border-radius: 3vmin;
    border: black solid 1px;
    margin-left: 2%;
}
.ImgReferenceImage{
    display: block;
    float: none;
    width: 100%;
    border-radius: 3vmin;
    border: none;
    margin-left: 0;
    overflow: hidden;
}
.ImgReference{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s ease;
    opacity: 0;
    text-align: center;
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    color: white;
}
.ImgReferenceContainer:hover .ImgReference{
    opacity: 1;
}